@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

$smallScreens: 550px;
$mediumScreens: 800px;


@mixin padding-template {
    padding-left: 16px;
    padding-right: 16px;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 29px;
}

nav {
    a {
        text-decoration: none;
    }

    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 120px;

    p {
        margin: auto;
        font-size: 60px;
        font-weight: 500;
        color: #6E07F3;

    }

    div {
        margin: auto;

        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            margin: 1px 8px;
        }

        .sayHello {
            padding: 8px 17px;
            border-radius: 9999px;
            border: 2px solid #6E07F3;
            color: #6E07F3;
        }
    }
}

.mentorship:hover {
    color: #6E07F3;
    transition: .2s ease-in;
}

.sayHello:hover {
    background-color: #6E07F3;
    color: white;
    transition: .2s ease-in;
}


.hero {
    max-width: 940px;

    h1 {
        font-size: 46px;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        margin: 20px 1px;
        color: rgba(10, 10, 10, 0.9);
        @include padding-template();
        margin-bottom: 50px;
    }
}

.hero-img {
    max-width: 100%;
    margin-top: 50px;
    @include padding-template();
    margin-bottom: -6px;
}

.background1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}

.myAvatar {
    max-width: 200px;
}

@media (max-width: $smallScreens) {
    .container {
        margin-top: 20px;
    }

    .myAvatar {
        max-width: 140px;
    }

    .hero-img {
        margin-top: 35px;
    }

    .hero {
        h1 {
            font-size: 32px;
            @include padding-template()
        }

        p {
            font-size: 17px;
        }
    }

    nav {
        p {
            font-size: 40px;
        }

        .mentorship,
        .sayHello {
            font-size: 17px;
        }
    }
}

.fatlumsulaj {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 30px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

 .aboutMe {
     width: 100%;
     height: auto;
     padding-bottom: 220px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #6E07F3;
 }

 .aboutMe-flex {
    display: flex;
    max-width: 950px;
    padding: 10px;
    gap: 50px;
    justify-content: center;
    align-items: center;
 }

.aboutMe-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutMe-button {
    width: 180px;
    height: 48px;
    font-size: 16px;
    color: white;
    background-color: #6E07F3;
    cursor: pointer;
    border-radius: 9999px;
    border: 1px solid white;
    font-weight: 700;
    margin: 5px 1px;
}
#aboutMeP, #skillsP, #goalsP {
    display: none;
}

.aboutMe-active-p {
    display: block !important;
    padding-bottom: 20px;
    color: white;
    margin: auto;
}

.aboutMe-active-btn {
    color: #6E07F3;
    background-color: white;
}

@media (max-width: $mediumScreens) {
    .aboutMe-flex {
        display: flex;
        flex-direction: column;
    }

.aboutMe-active-p {
    text-align: center;
    margin: auto;
}
    .aboutMe-button {
        width: 100px;
        font-size: 14px;
        height: 35px;
    }
    .buttons-content {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: $smallScreens) {
    .fatlumsulaj {
        font-size: 24px;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .aboutMe {
        padding-bottom: 170px;
    }
   
    .aboutMe-flex {
       display: flex;
       max-width: 950px;
       padding: 10px;
       gap: 20px;
    }

}



.myServices {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.myServices-wrapper {
    margin-left: 12px;
    margin-right: 12px;
}

.service-template {
    text-align: center;
    border: 1px solid rgba(216, 206, 206, 0.5);
    background-color: white;
    padding: 88px 35px;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 30px;
        width: 70px;
        height: 70px;
        background-color: #5be9b9;
        padding: 18px;
        border-radius: 9999px;
    }

    p {
        max-width: 450px;
    }

    h2 {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

.myServices-wrapper {
    margin-top: -150px;
    display: flex;
    max-width: 1300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px rgba(185, 185, 185, 0.2);
}

@media(max-width: 1300px) {
    .myServices-wrapper {
        flex-direction: column;
    }
}

.purple-text {
    color: #6E07F3;
    margin-top: 45px;
    font-weight: 600;
}

@media (max-width: $smallScreens) {
    .service-template {
        text-align: center;
        border: 1px solid rgba(216, 206, 206, 0.5);
        background-color: white;
        padding: 40px 5px;
    }
}

//Projects
.projects-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 100px;
}

.main-projects {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.all-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 5px;
}

.projects-intro {
    margin-bottom: 70px;
    padding: 1px 10px;

    h2 {
        font-size: 33px;
        color: black;
        margin-bottom: 15px;
    }

    p {
        font-size: 19px;
        max-width: 1100px;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: #6E07F3;
        font-weight: 600;
    }
}

.project-template {
    max-width: 400px;
    height: 300px;
    margin: auto;
    margin: 14px;
    border-radius: 13px;
    border: 1px solid rgba(216, 206, 206, 0.5);
    box-shadow: 0 2px rgba(185, 185, 185, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(255, 255, 255);

    i {
        font-size: 25px;
        letter-spacing: 2px;
    }

    button {
        padding: 8px 17px;
        border-radius: 9999px;
        border: 1px solid #6E07F3;
        color: #6E07F3;
        font-size: 17px;
        font-weight: 600;
        background-color: white;
    }

    button:hover {
        cursor: pointer;
        background-color: #6E07F3;
        color: white;
        transition: .2s ease-in;
    }

    h2 {
        color: rgb(71, 60, 60);
    }
}

.project-template-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.miniProject-template {
    max-width: 400px;
    height: 96px;
    margin: auto;
    margin: 10px;
    border-radius: 13px;
    border: 1px solid rgba(216, 206, 206, 0.5);
    box-shadow: 0 2px rgba(185, 185, 185, 0.2);
    display: flex;
    align-items: center;
    padding: 2px 20px;
    cursor: pointer;
    color: #6E07F3;
    font-weight: 600;

    i {
        margin-right: 10px;
        color: #6E07F3;
        font-size: 19px;
    }
}

.project-flex {
    display: flex;
    justify-content: center;
    gap: 10px;

    p {
        font-size: 23px;
        color: black;
        font-weight: 600;
    }
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

@media (max-width: $smallScreens) {
    .projects-center {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .projects-intro {
        margin-bottom: 20px;
        padding: 1px 10px;
        h2 {
            font-size: 28px;
            color: black;
            margin-bottom: 15px;
        }
    
    }
}