@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

$smallScreens: 550px;

@mixin padding-template {
    padding-left: 16px;
    padding-right: 16px;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 29px;
}
nav {
    a {
        text-decoration: none;
    }

    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 120px;

    p {
        margin: auto;
        font-size: 60px;
        font-weight: 500;
        color: #6E07F3;

    }

    div {
        margin: auto;

        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            margin: 1px 8px;
        }

        .sayHello {
            padding: 8px 17px;
            border-radius: 9999px;
            border: 2px solid #6E07F3;
            color: #6E07F3;
        }
    }
}

.mentorship:hover {
    color: #6E07F3;
    transition: .2s ease-in;
}

.sayHello:hover {
    background-color: #6E07F3;
    color: white;
    transition: .2s ease-in;
}


.hero {
    max-width: 940px;

    h1 {
        font-size: 46px;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        margin: 20px 1px;
        color: rgba(10, 10, 10, 0.9);
        @include padding-template();
        margin-bottom: 50px;
    }
}

.hero-img {
    max-width: 100%;
    margin-top: 50px;
    @include padding-template();
    margin-bottom: -6px;
}

.background1 {
    background: url(images/Background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}

.myAvatar {
    max-width: 200px;
}

@media (max-width: $smallScreens) {
    .container {
        margin-top: 20px;
    }
    .myAvatar {
        max-width: 140px;
    }
    .hero-img {
        margin-top: 35px;
    }
    .hero {
        h1 {
            font-size: 32px;
            @include padding-template()
        }
        p {
            font-size: 17px;
        }
    }
    nav {
        p {
            font-size: 40px;
        }
       .mentorship, .sayHello {
        font-size: 17px;
       }
    }
}

